In [1]:
import pandas as pd
import numpy as np

In [2]:
with open("SecondGWAS2.assoc") as f:
    lines = f.readlines()

In [3]:
values = []
for index, line in enumerate(lines):
    if index == 0:
        sep = line.strip().split(" ")
        n = [x for x in sep if x]
        header = n
    else:    
        sep = line.strip().split(" ")
        n = [x for x in sep if x]
        values.append(n)

In [30]:
df["P"] = df["P"].apply(pd.to_numeric)

In [28]:
df = pd.DataFrame(values, columns=header)

In [31]:
df.sort_values(by="P",ascending=True).head(20)

,CHR,SNP,BP,A1,F_A,F_U,A2,CHISQ,P,OR
1681,3,rs1097157,82780003,2,0.5741,0.2545,4,22.95,0.000002,3.947
1683,3,rs1840290,82785436,2,0.5741,0.2545,4,22.95,0.000002,3.947
1680,3,rs1598120,82776690,3,0.566,0.25,1,22.15,0.000003,3.913
1666,3,rs834858,82742725,4,0.5648,0.2545,2,21.72,0.000003,3.801
1667,3,rs834864,82745840,4,0.5648,0.2545,2,21.72,0.000003,3.801
1684,3,rs834843,82789058,1,0.5648,0.2545,3,21.72,0.000003,3.801
1653,3,rs2085079,82721775,4,0.5648,0.2545,2,21.72,0.000003,3.801
1665,3,rs834856,82741536,4,0.5648,0.2593,2,20.81,0.000005,3.708
1687,3,rs1580295,82798033,1,0.5648,0.2636,3,20.39,0.000006,3.625
1690,3,rs1600058,82815522,3,0.5648,0.2636,1,20.39,0.000006,3.625
1682,3,rs2873392,82780674,4,0.3519,0.1,2,19.84,0.000008,4.886
23309,3,rs7624706,150450025,4,0.07547,0.3148,2,19.43,0.000010,0.1777
1689,3,rs7619063,82811321,1,0.5648,0.2727,3,19.12,0.000012,3.461
1647,3,rs9853565,82700974,3,0.2685,0.05455,2,18.51,0.000017,6.363
32093,3,rs6445172,175772536,3,0.2315,0.5091,4,17.99,0.000022,0.2904
32101,3,rs9855684,175783945,4,0.217,0.4909,2,17.66,0.000026,0.2874
32102,3,rs9817983,175784046,4,0.2315,0.5,1,16.91,0.000039,0.3012
32094,3,rs7430111,175778180,3,0.25,0.5182,4,16.55,0.000047,0.3099
32100,3,rs1316579,175782870,1,0.2222,0.4818,3,16.08,0.000061,0.3073
31049,3,rs6792542,173138368,2,0.3611,0.1296,1,15.63,0.000077,3.795

In [26]:
df.sort_values(by="P",ascending=True).head(20)

In [27]:
df[1650:1700].sort_values(by="P",ascending=True)

Empty DataFrame
Columns: [CHR, SNP, BP, A1, F_A, F_U, A2, CHISQ, P, OR]
Index: []